AutoROM.accept-rom-license==0.6.1
AutoROM==0.4.2
Babel==2.11.0
Brotli==1.0.9
Cython==3.0.10
Farama-Notifications==0.0.4
GitPython==3.1.37
JPype1==1.5.0
Jinja2==3.1.2
Jinja2==3.1.3
Mako==1.3.2
MarkupSafe==2.1.3
PyQt5-sip==12.13.0
PyQt5==5.15.10
PySocks==1.7.1
PyYAML==6.0.1
Pygments==2.15.1
Pygments==2.17.2
Pyro5==5.15
QtPy==2.4.1
SQLAlchemy==2.0.29
Send2Trash==1.8.2
Shimmy==0.2.1
ale-py==0.8.1
alembic==1.13.1
annotated-types==0.6.0
anyio==4.2.0
appdirs==1.4.4
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==23.1.0
beautifulsoup4==4.12.2
bleach==4.1.0
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==2.0.4
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
cmaes==0.10.0
colorama==0.4.6
colorlog==6.8.2
comm==0.2.1
contourpy==1.2.0
cycler==0.12.1
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.8
diskcache==5.6.3
dnspython==2.6.1
docker-pycreds==0.4.0
emoji==2.11.0
executing==0.8.3
executing==2.0.1
fastapi==0.103.0
fastjsonschema==2.16.2
filelock==3.9.0
fonttools==4.50.0
fsspec==2024.3.1
gitdb==4.0.7
greenlet==3.0.3
gym-notices==0.0.8
gym==0.26.2
gymnasium==0.29.1
h11==0.14.0
httptools==0.6.1
huggingface-hub==0.22.2
idna==3.4
idna==3.6
importlib_resources==6.4.0
ipykernel==6.28.0
ipython==8.20.0
ipython==8.23.0
ipywidgets==8.1.2
jedi==0.18.1
jedi==0.19.1
joblib==1.4.0
json5==0.9.6
jsonschema-specifications==2023.7.1
jsonschema==4.19.2
jupyter-console==6.6.3
jupyter-events==0.8.0
jupyter-lsp==2.2.0
jupyter==1.0.0
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter_server==2.10.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.1.2
jupyterlab-widgets==3.0.10
jupyterlab==4.0.11
jupyterlab_server==2.25.1
kiwisolver==1.4.5
lightning-utilities==0.11.2
matplotlib-inline==0.1.6
matplotlib==3.8.3
mistune==2.0.4
mpmath==1.3.0
multiprocess==0.70.16
mysql-connector-python==8.3.0
mysqlclient==2.2.4
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.2.1
notebook==7.0.8
notebook_shim==0.2.3
numpy==1.26.3
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.7.0.84
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.19.3
nvidia-nvtx-cu11==11.8.86
optuna==3.2.0
overrides==7.4.0
packaging==23.2
packaging==24.0
pandas==2.2.1
pandocfilters==1.5.0
parso==0.8.3
pathtools==0.1.2
pdftotext==2.2.2
pexpect==4.8.0
pexpect==4.9.0
pillow==10.2.0
pip==23.3.1
platformdirs==3.10.0
ply==3.11
portalocker==2.8.2
pox==0.3.4
ppft==1.7.6.8
prometheus-client==0.14.1
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pushbullet-python==1.7.0
py4j==0.10.9.7
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pygame==2.1.3
pymongo==4.6.3
pyparsing==3.1.2
pypdf==4.2.0
python-dateutil==2.8.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
pytz==2023.3.post1
pytz==2024.1
pyzmq==25.1.2
qtconsole==5.5.1
referencing==0.30.2
regex==2023.12.25
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.10.6
safetensors==0.4.2
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
sentry-sdk==1.9.0
serpent==1.41
setproctitle==1.2.2
setuptools==68.2.2
sip==6.7.12
six==1.16.0
smmap==4.0.0
sniffio==1.3.0
soupsieve==2.5
stack-data==0.2.0
stack-data==0.6.3
starlette==0.27.0
sympy==1.12
terminado==0.17.1
threadpoolctl==3.4.0
tiktoken==0.6.0
tinycss2==1.2.1
tokenizers==0.15.2
torch==2.2.2+cu118
torchaudio==2.2.2+cu118
torchmetrics==1.3.2
torchvision==0.17.2+cu118
tornado==6.3.3
tqdm==4.66.2
traitlets==5.14.2
traitlets==5.7.1
transformers==4.39.3
triton==2.2.0
typing_extensions==4.8.0
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.1.0
urllib3==2.2.1
uvicorn==0.29.0
uvloop==0.19.0
wandb==0.16.5
watchfiles==0.21.0
wcwidth==0.2.13
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
websockets==12.0
wheel==0.41.2
widgetsnbextension==4.0.10